# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfplan

# Python
__pycache__/
*.pyc
.python_packages/
function_deploy.zip

# Environment
.env
